<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="btn-group">
      <button class="btn">
        <clr-icon shape="download"></clr-icon>Download CV (PDF)</button>
    </div>
    <div class="card">
      <div class="card-block">
        <h2 class="card-title">Curriculum Vitae/Résumé </h2>
        <h4 class="card-title">Education</h4>

        <div class="card-media-block">
          <img src="../../assets/uw-logo-centered-web.svg " onerror="this.onerror=null; this.src='uw-logo-centered-web.png'" class="card-media-image">
          <div class="card-media-description">
            <span class="card-media-title" style="font-weight:bold">
              Master of Arts, Library &amp; Information Studies (Projected May 2018)
            </span>
            <span class="card-media-text">
              University of Wisconsin&ndash;Madison
            </span>
          </div>
        </div>

        <div class="card-media-block">
          <img src="../../assets/USF_seal.png" class="card-media-image">
          <div class="card-media-description">
            <span class="card-media-title" style="font-weight:bold">
              Master of Arts, English &amp; American Literature (2010)
            </span>
            <span class="card-media-text">
              University of South Florida
            </span>
            <a href="http://www.worldcat.org/oclc/742050823" target="_blank">
              <span class="card-media-text">
                Thesis: "A border is a veil not many people can wear": Testimonial fiction and transnational healing in Edwidge Danticat's
                <i>The Farming of Bones</i> and Nelly Rosario's
                <i>Song of the Water Saints</i>
              </span>
            </a>
          </div>
        </div>

        <div class="card-media-block">
          <img src="../../assets/USF_seal.png" class="card-media-image">
          <div class="card-media-description">
            <span class="card-media-title" style="font-weight:bold">
              Bachelor of Arts, English &amp; American Literature (2007)
            </span>
            <span class="card-media-text">
              University of South Florida
            </span>
          </div>
        </div>
        <br>
        <hr>

        <h4 class="card-title">Work Experience</h4>
        <ul class="list">
          <li>
            <span style="font-weight:bold">Graduate Assistant</span>
            <ul class="list-unstyled">
              <li>Reference and Interlibrary Loan, Evening and Weekend Supervisor</li>
              <li>
                Oscar Rennebohm Library at Edgewood College
              </li>
              <li>August 2016 – Present</li>
            </ul>
          </li>

          <li>
            <span style="font-weight:bold">Library Assistant </span>
            <ul class="list-unstyled">
              <li>
                National Wildlife Health Center, U.S. Geological Survey
              </li>
              <li>November 2016 – Present</li>
            </ul>
          </li>

          <li>
            <span style="font-weight:bold">Field Placement</span>
            <ul class="list-unstyled">
              <li>
                College Library, University of Wisconsin–Madison
              </li>
              <li>August 2017 – December 2017</li>
            </ul>
          </li>

          <li>
            <span style="font-weight:bold">Reader/Grader </span>
            <ul class="list-unstyled">
              <li>
                Information School, University of Wisconsin–Madison
              </li>
              <li>October 2017 – December 2017</li>
            </ul>
          </li>

          <li>
            <span style="font-weight:bold">Constructed Response Rater</span>
            <ul class="list-unstyled">
              <li>
                Educational Testing Services
              </li>
              <li>GRE, TOEIC, TOEFL Junior, TOEFL Primary, SAWS </li>
              <li>May 2010 – October 2016</li>
            </ul>
          </li>

          <li>
            <span style="font-weight:bold">Freelance Writer/Editor</span>
            <ul class="list-unstyled">
              <li>(Self-employed)</li>
              <li>May 2010 – Present</li>
            </ul>
          </li>

          <li>
            <span style="font-weight:bold">ESL Tutor</span>
            <ul class="list-unstyled">
              <li>(Self-employed)</li>
              <li>July 2011 – June 2014</li>
            </ul>
          </li>

          <li>
            <span style="font-weight:bold">Graduate Teaching Assistant</span>
            <ul class="list-unstyled">
              <li>
                Department of English, University of South Florida
              </li>
              <li>August 2008 – May 2010 </li>
            </ul>
          </li>

        </ul>
        <br>
        <hr>
        <p class="card-text">
          <h4 class="card-title">Technology Skills</h4>

          <ul class="list">
            <li>
              <span style="font-weight:bold">Languages</span> | HTML, CSS, JavaScript, MySQL</li>
            <li>
              <span style="font-weight:bold">Course Management</span> | Blackboard, Canvas</li>
            <li>
              <span style="font-weight:bold">Content Management</span> | LibGuides, ContentDM</li>
            <li>
              <span style="font-weight:bold">Library</span> | Millennium, Alma, Koha; ILLiad and WorldShare</li>
            <li>
              <span style="font-weight:bold">Virtual Reference</span> | LibAnswers, LibChat, LibraryH3lp</li>
            <li>
              <span style="font-weight:bold">eLearning and Screen Capture</span> | Adobe Captivate, Screencast-O-Matic, Jing</li>
            <li>
              <span style="font-weight:bold">Visualization</span> | Tableau</li>
            <li>
              <span style="font-weight:bold">Data</span> | OpenRefine</li>

          </ul>
          <br>
          <hr>

          <h4 class="card-title">Presentations</h4>
          <ul class="list-unstyled">
            <li>
              <span style="font-weight:bold">"Academic Freedom and the Library: Employing a Social Justice Lens for Understanding Intellectual Freedom"</span>
              <ul class="list-unstyled">
                <li>Wisconsin Association of Academic Libraries Annual Conference 2018 Co-presenter</li>
              </ul>
            </li>
          </ul>
          <br>
          <hr>

          <h4 class="card-title">Projects</h4>
          <ul class="list-unstyled">
            <li>
              <span style="font-weight:bold">Website Design</span>
              <ul class="list">
                <li>
                  <a href="http://scotchhillfarm.com" target="_blank">Scotch Hill Farm</a>
                </li>
                <li>
                  <a href="https://www.hilltopcommunityfarm.org" target="_blank">Hilltop Community Farm</a>
                </li>
              </ul>
            </li>
          </ul>
          <br>
          <hr>

          <h4 class="card-title">Affiliations</h4>
          <ul>
            <li>American Library Association (ALA)</li>
            <li>Wisconsin Library Association (WLA)</li>
            <li>WLA Student Special Interest Group</li>
            <li>REFORMA Student Group</li>
          </ul>
          <br>
          <hr>

          <h4 class="card-title">Volunteer Experience</h4>
          <ul>
            <li>University of Wisconsin
              <a href="https://gobigread.wisc.edu/" target="_blank">Go Big Read</a> Discussion Facilitator (Fall 2016, Fall 2017)</li>
            <li>
              <a href="Wisconsin Association of Academic Libraries" target="_blank">Wisconsin Association of Academic Libraries</a> 2018 Conference Planning Committee- UW–Madison Liaison</li>
            <li>Wisconsin Library Association 2017 Conference Planning Committee- UW–Madison Liaison</li>
            <li>Wisconsin Library Association Student Special Interest Group- Chair 2017-2018</li>
          </ul>
          <hr>

          <h4 class="card-title">Certificates</h4>
          <ul>
            <li>
              <a href="https://projectenable.syr.edu/" target="_blank">Project ENABLE</a> Accessibility Training</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="btn-group">
        <button class="btn">
          <clr-icon shape="download"></clr-icon>Download CV (PDF)</button>
      </div>
      <div class="card">
        <div class="card-block">
          <h2 class="card-title">Curriculum Vitae/Résumé </h2>
          <h4 class="card-title">Education</h4>
  
          <div class="card-media-block">
            <img src="../../assets/uw-logo-centered-web.svg " onerror="this.onerror=null; this.src='uw-logo-centered-web.png'" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title" style="font-weight:bold">
                Master of Arts, Library &amp; Information Studies (Projected May 2018)
              </span>
              <span class="card-media-text">
                University of Wisconsin&ndash;Madison
              </span>
            </div>
          </div>
  
          <div class="card-media-block">
            <img src="../../assets/USF_seal.png" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title" style="font-weight:bold">
                Master of Arts, English &amp; American Literature (2010)
              </span>
              <span class="card-media-text">
                University of South Florida
              </span>
              <a href="http://www.worldcat.org/oclc/742050823" target="_blank">
                <span class="card-media-text">
                  Thesis: "A border is a veil not many people can wear": Testimonial fiction and transnational healing in Edwidge Danticat's
                  <i>The Farming of Bones</i> and Nelly Rosario's
                  <i>Song of the Water Saints</i>
                </span>
              </a>
            </div>
          </div>
  
          <div class="card-media-block">
            <img src="../../assets/USF_seal.png" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title" style="font-weight:bold">
                Bachelor of Arts, English &amp; American Literature (2007)
              </span>
              <span class="card-media-text">
                University of South Florida
              </span>
            </div>
          </div>
          <br>
          <hr>
  
          <h4 class="card-title">Work Experience</h4>
          <ul class="list">
            <li>
              <span style="font-weight:bold">Graduate Assistant</span>
              <ul class="list-unstyled">
                <li>Reference and Interlibrary Loan, Evening and Weekend Supervisor</li>
                <li>
                  Oscar Rennebohm Library at Edgewood College
                </li>
                <li>August 2016 – Present</li>
              </ul>
            </li>
  
            <li>
              <span style="font-weight:bold">Library Assistant </span>
              <ul class="list-unstyled">
                <li>
                  National Wildlife Health Center, U.S. Geological Survey
                </li>
                <li>November 2016 – Present</li>
              </ul>
            </li>
  
            <li>
              <span style="font-weight:bold">Field Placement</span>
              <ul class="list-unstyled">
                <li>
                  College Library, University of Wisconsin–Madison
                </li>
                <li>August 2017 – December 2017</li>
              </ul>
            </li>
  
            <li>
              <span style="font-weight:bold">Reader/Grader </span>
              <ul class="list-unstyled">
                <li>
                  Information School, University of Wisconsin–Madison
                </li>
                <li>October 2017 – December 2017</li>
              </ul>
            </li>
  
            <li>
              <span style="font-weight:bold">Constructed Response Rater</span>
              <ul class="list-unstyled">
                <li>
                  Educational Testing Services
                </li>
                <li>GRE, TOEIC, TOEFL Junior, TOEFL Primary, SAWS </li>
                <li>May 2010 – October 2016</li>
              </ul>
            </li>
  
            <li>
              <span style="font-weight:bold">Freelance Writer/Editor</span>
              <ul class="list-unstyled">
                <li>(Self-employed)</li>
                <li>May 2010 – Present</li>
              </ul>
            </li>
  
            <li>
              <span style="font-weight:bold">ESL Tutor</span>
              <ul class="list-unstyled">
                <li>(Self-employed)</li>
                <li>July 2011 – June 2014</li>
              </ul>
            </li>
  
            <li>
              <span style="font-weight:bold">Graduate Teaching Assistant</span>
              <ul class="list-unstyled">
                <li>
                  Department of English, University of South Florida
                </li>
                <li>August 2008 – May 2010 </li>
              </ul>
            </li>
  
          </ul>
          <br>
          <hr>
          <p class="card-text">
            <h4 class="card-title">Technology Skills</h4>
  
            <ul class="list">
              <li>
                <span style="font-weight:bold">Languages</span> | HTML, CSS, JavaScript, MySQL</li>
              <li>
                <span style="font-weight:bold">Course Management</span> | Blackboard, Canvas</li>
              <li>
                <span style="font-weight:bold">Content Management</span> | LibGuides, ContentDM</li>
              <li>
                <span style="font-weight:bold">Library</span> | Millennium, Alma, Koha; ILLiad and WorldShare</li>
              <li>
                <span style="font-weight:bold">Virtual Reference</span> | LibAnswers, LibChat, LibraryH3lp</li>
              <li>
                <span style="font-weight:bold">eLearning and Screen Capture</span> | Adobe Captivate, Screencast-O-Matic, Jing</li>
              <li>
                <span style="font-weight:bold">Visualization</span> | Tableau</li>
              <li>
                <span style="font-weight:bold">Data</span> | OpenRefine</li>
  
            </ul>
            <br>
            <hr>
  
            <h4 class="card-title">Presentations</h4>
            <ul class="list-unstyled">
              <li>
                <span style="font-weight:bold">"Academic Freedom and the Library: Employing a Social Justice Lens for Understanding Intellectual Freedom"</span>
                <ul class="list-unstyled">
                  <li>Wisconsin Association of Academic Libraries Annual Conference 2018 Co-presenter</li>
                </ul>
              </li>
            </ul>
            <br>
            <hr>
  
            <h4 class="card-title">Projects</h4>
            <ul class="list-unstyled">
              <li>
                <span style="font-weight:bold">Website Design</span>
                <ul class="list">
                  <li>
                    <a href="http://scotchhillfarm.com" target="_blank">Scotch Hill Farm</a>
                  </li>
                  <li>
                    <a href="https://www.hilltopcommunityfarm.org" target="_blank">Hilltop Community Farm</a>
                  </li>
                </ul>
              </li>
            </ul>
            <br>
            <hr>
  
            <h4 class="card-title">Affiliations</h4>
            <ul>
              <li>American Library Association (ALA)</li>
              <li>Wisconsin Library Association (WLA)</li>
              <li>WLA Student Special Interest Group</li>
              <li>REFORMA Student Group</li>
            </ul>
            <br>
            <hr>
  
            <h4 class="card-title">Volunteer Experience</h4>
            <ul>
              <li>University of Wisconsin
                <a href="https://gobigread.wisc.edu/" target="_blank">Go Big Read</a> Discussion Facilitator (Fall 2016, Fall 2017)</li>
              <li>
                <a href="Wisconsin Association of Academic Libraries" target="_blank">Wisconsin Association of Academic Libraries</a> 2018 Conference Planning Committee- UW–Madison Liaison</li>
              <li>Wisconsin Library Association 2017 Conference Planning Committee- UW–Madison Liaison</li>
              <li>Wisconsin Library Association Student Special Interest Group- Chair 2017-2018</li>
            </ul>
            <hr>
  
            <h4 class="card-title">Certificates</h4>
            <ul>
              <li>
                <a href="https://projectenable.syr.edu/" target="_blank">Project ENABLE</a> Accessibility Training</li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="btn-group">
          <button class="btn">
            <clr-icon shape="download"></clr-icon>Download CV (PDF)</button>
        </div>
        <div class="card">
          <div class="card-block">
            <h2 class="card-title">Curriculum Vitae/Résumé </h2>
            <h4 class="card-title">Education</h4>
    
            <div class="card-media-block">
              <img src="../../assets/uw-logo-centered-web.svg " onerror="this.onerror=null; this.src='uw-logo-centered-web.png'" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title" style="font-weight:bold">
                  Master of Arts, Library &amp; Information Studies (Projected May 2018)
                </span>
                <span class="card-media-text">
                  University of Wisconsin&ndash;Madison
                </span>
              </div>
            </div>
    
            <div class="card-media-block">
              <img src="../../assets/USF_seal.png" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title" style="font-weight:bold">
                  Master of Arts, English &amp; American Literature (2010)
                </span>
                <span class="card-media-text">
                  University of South Florida
                </span>
                <a href="http://www.worldcat.org/oclc/742050823" target="_blank">
                  <span class="card-media-text">
                    Thesis: "A border is a veil not many people can wear": Testimonial fiction and transnational healing in Edwidge Danticat's
                    <i>The Farming of Bones</i> and Nelly Rosario's
                    <i>Song of the Water Saints</i>
                  </span>
                </a>
              </div>
            </div>
    
            <div class="card-media-block">
              <img src="../../assets/USF_seal.png" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title" style="font-weight:bold">
                  Bachelor of Arts, English &amp; American Literature (2007)
                </span>
                <span class="card-media-text">
                  University of South Florida
                </span>
              </div>
            </div>
            <br>
            <hr>
    
            <h4 class="card-title">Work Experience</h4>
            <ul class="list">
              <li>
                <span style="font-weight:bold">Graduate Assistant</span>
                <ul class="list-unstyled">
                  <li>Reference and Interlibrary Loan, Evening and Weekend Supervisor</li>
                  <li>
                    Oscar Rennebohm Library at Edgewood College
                  </li>
                  <li>August 2016 – Present</li>
                </ul>
              </li>
    
              <li>
                <span style="font-weight:bold">Library Assistant </span>
                <ul class="list-unstyled">
                  <li>
                    National Wildlife Health Center, U.S. Geological Survey
                  </li>
                  <li>November 2016 – Present</li>
                </ul>
              </li>
    
              <li>
                <span style="font-weight:bold">Field Placement</span>
                <ul class="list-unstyled">
                  <li>
                    College Library, University of Wisconsin–Madison
                  </li>
                  <li>August 2017 – December 2017</li>
                </ul>
              </li>
    
              <li>
                <span style="font-weight:bold">Reader/Grader </span>
                <ul class="list-unstyled">
                  <li>
                    Information School, University of Wisconsin–Madison
                  </li>
                  <li>October 2017 – December 2017</li>
                </ul>
              </li>
    
              <li>
                <span style="font-weight:bold">Constructed Response Rater</span>
                <ul class="list-unstyled">
                  <li>
                    Educational Testing Services
                  </li>
                  <li>GRE, TOEIC, TOEFL Junior, TOEFL Primary, SAWS </li>
                  <li>May 2010 – October 2016</li>
                </ul>
              </li>
    
              <li>
                <span style="font-weight:bold">Freelance Writer/Editor</span>
                <ul class="list-unstyled">
                  <li>(Self-employed)</li>
                  <li>May 2010 – Present</li>
                </ul>
              </li>
    
              <li>
                <span style="font-weight:bold">ESL Tutor</span>
                <ul class="list-unstyled">
                  <li>(Self-employed)</li>
                  <li>July 2011 – June 2014</li>
                </ul>
              </li>
    
              <li>
                <span style="font-weight:bold">Graduate Teaching Assistant</span>
                <ul class="list-unstyled">
                  <li>
                    Department of English, University of South Florida
                  </li>
                  <li>August 2008 – May 2010 </li>
                </ul>
              </li>
    
            </ul>
            <br>
            <hr>
            <p class="card-text">
              <h4 class="card-title">Technology Skills</h4>
    
              <ul class="list">
                <li>
                  <span style="font-weight:bold">Languages</span> | HTML, CSS, JavaScript, MySQL</li>
                <li>
                  <span style="font-weight:bold">Course Management</span> | Blackboard, Canvas</li>
                <li>
                  <span style="font-weight:bold">Content Management</span> | LibGuides, ContentDM</li>
                <li>
                  <span style="font-weight:bold">Library</span> | Millennium, Alma, Koha; ILLiad and WorldShare</li>
                <li>
                  <span style="font-weight:bold">Virtual Reference</span> | LibAnswers, LibChat, LibraryH3lp</li>
                <li>
                  <span style="font-weight:bold">eLearning and Screen Capture</span> | Adobe Captivate, Screencast-O-Matic, Jing</li>
                <li>
                  <span style="font-weight:bold">Visualization</span> | Tableau</li>
                <li>
                  <span style="font-weight:bold">Data</span> | OpenRefine</li>
    
              </ul>
              <br>
              <hr>
    
              <h4 class="card-title">Presentations</h4>
              <ul class="list-unstyled">
                <li>
                  <span style="font-weight:bold">"Academic Freedom and the Library: Employing a Social Justice Lens for Understanding Intellectual Freedom"</span>
                  <ul class="list-unstyled">
                    <li>Wisconsin Association of Academic Libraries Annual Conference 2018 Co-presenter</li>
                  </ul>
                </li>
              </ul>
              <br>
              <hr>
    
              <h4 class="card-title">Projects</h4>
              <ul class="list-unstyled">
                <li>
                  <span style="font-weight:bold">Website Design</span>
                  <ul class="list">
                    <li>
                      <a href="http://scotchhillfarm.com" target="_blank">Scotch Hill Farm</a>
                    </li>
                    <li>
                      <a href="https://www.hilltopcommunityfarm.org" target="_blank">Hilltop Community Farm</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <br>
              <hr>
    
              <h4 class="card-title">Affiliations</h4>
              <ul>
                <li>American Library Association (ALA)</li>
                <li>Wisconsin Library Association (WLA)</li>
                <li>WLA Student Special Interest Group</li>
                <li>REFORMA Student Group</li>
              </ul>
              <br>
              <hr>
    
              <h4 class="card-title">Volunteer Experience</h4>
              <ul>
                <li>University of Wisconsin
                  <a href="https://gobigread.wisc.edu/" target="_blank">Go Big Read</a> Discussion Facilitator (Fall 2016, Fall 2017)</li>
                <li>
                  <a href="Wisconsin Association of Academic Libraries" target="_blank">Wisconsin Association of Academic Libraries</a> 2018 Conference Planning Committee- UW–Madison Liaison</li>
                <li>Wisconsin Library Association 2017 Conference Planning Committee- UW–Madison Liaison</li>
                <li>Wisconsin Library Association Student Special Interest Group- Chair 2017-2018</li>
              </ul>
              <hr>
    
              <h4 class="card-title">Certificates</h4>
              <ul>
                <li>
                  <a href="https://projectenable.syr.edu/" target="_blank">Project ENABLE</a> Accessibility Training</li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="btn-group">
            <button class="btn">
              <clr-icon shape="download"></clr-icon>Download CV (PDF)</button>
          </div>
          <div class="card">
            <div class="card-block">
              <h2 class="card-title">Curriculum Vitae/Résumé </h2>
              <h4 class="card-title">Education</h4>
      
              <div class="card-media-block">
                <img src="../../assets/uw-logo-centered-web.svg " onerror="this.onerror=null; this.src='uw-logo-centered-web.png'" class="card-media-image">
                <div class="card-media-description">
                  <span class="card-media-title" style="font-weight:bold">
                    Master of Arts, Library &amp; Information Studies (Projected May 2018)
                  </span>
                  <span class="card-media-text">
                    University of Wisconsin&ndash;Madison
                  </span>
                </div>
              </div>
      
              <div class="card-media-block">
                <img src="../../assets/USF_seal.png" class="card-media-image">
                <div class="card-media-description">
                  <span class="card-media-title" style="font-weight:bold">
                    Master of Arts, English &amp; American Literature (2010)
                  </span>
                  <span class="card-media-text">
                    University of South Florida
                  </span>
                  <a href="http://www.worldcat.org/oclc/742050823" target="_blank">
                    <span class="card-media-text">
                      Thesis: "A border is a veil not many people can wear": Testimonial fiction and transnational healing in Edwidge Danticat's
                      <i>The Farming of Bones</i> and Nelly Rosario's
                      <i>Song of the Water Saints</i>
                    </span>
                  </a>
                </div>
              </div>
      
              <div class="card-media-block">
                <img src="../../assets/USF_seal.png" class="card-media-image">
                <div class="card-media-description">
                  <span class="card-media-title" style="font-weight:bold">
                    Bachelor of Arts, English &amp; American Literature (2007)
                  </span>
                  <span class="card-media-text">
                    University of South Florida
                  </span>
                </div>
              </div>
              <br>
              <hr>
      
              <h4 class="card-title">Work Experience</h4>
              <ul class="list">
                <li>
                  <span style="font-weight:bold">Graduate Assistant</span>
                  <ul class="list-unstyled">
                    <li>Reference and Interlibrary Loan, Evening and Weekend Supervisor</li>
                    <li>
                      Oscar Rennebohm Library at Edgewood College
                    </li>
                    <li>August 2016 – Present</li>
                  </ul>
                </li>
      
                <li>
                  <span style="font-weight:bold">Library Assistant </span>
                  <ul class="list-unstyled">
                    <li>
                      National Wildlife Health Center, U.S. Geological Survey
                    </li>
                    <li>November 2016 – Present</li>
                  </ul>
                </li>
      
                <li>
                  <span style="font-weight:bold">Field Placement</span>
                  <ul class="list-unstyled">
                    <li>
                      College Library, University of Wisconsin–Madison
                    </li>
                    <li>August 2017 – December 2017</li>
                  </ul>
                </li>
      
                <li>
                  <span style="font-weight:bold">Reader/Grader </span>
                  <ul class="list-unstyled">
                    <li>
                      Information School, University of Wisconsin–Madison
                    </li>
                    <li>October 2017 – December 2017</li>
                  </ul>
                </li>
      
                <li>
                  <span style="font-weight:bold">Constructed Response Rater</span>
                  <ul class="list-unstyled">
                    <li>
                      Educational Testing Services
                    </li>
                    <li>GRE, TOEIC, TOEFL Junior, TOEFL Primary, SAWS </li>
                    <li>May 2010 – October 2016</li>
                  </ul>
                </li>
      
                <li>
                  <span style="font-weight:bold">Freelance Writer/Editor</span>
                  <ul class="list-unstyled">
                    <li>(Self-employed)</li>
                    <li>May 2010 – Present</li>
                  </ul>
                </li>
      
                <li>
                  <span style="font-weight:bold">ESL Tutor</span>
                  <ul class="list-unstyled">
                    <li>(Self-employed)</li>
                    <li>July 2011 – June 2014</li>
                  </ul>
                </li>
      
                <li>
                  <span style="font-weight:bold">Graduate Teaching Assistant</span>
                  <ul class="list-unstyled">
                    <li>
                      Department of English, University of South Florida
                    </li>
                    <li>August 2008 – May 2010 </li>
                  </ul>
                </li>
      
              </ul>
              <br>
              <hr>
              <p class="card-text">
                <h4 class="card-title">Technology Skills</h4>
      
                <ul class="list">
                  <li>
                    <span style="font-weight:bold">Languages</span> | HTML, CSS, JavaScript, MySQL</li>
                  <li>
                    <span style="font-weight:bold">Course Management</span> | Blackboard, Canvas</li>
                  <li>
                    <span style="font-weight:bold">Content Management</span> | LibGuides, ContentDM</li>
                  <li>
                    <span style="font-weight:bold">Library</span> | Millennium, Alma, Koha; ILLiad and WorldShare</li>
                  <li>
                    <span style="font-weight:bold">Virtual Reference</span> | LibAnswers, LibChat, LibraryH3lp</li>
                  <li>
                    <span style="font-weight:bold">eLearning and Screen Capture</span> | Adobe Captivate, Screencast-O-Matic, Jing</li>
                  <li>
                    <span style="font-weight:bold">Visualization</span> | Tableau</li>
                  <li>
                    <span style="font-weight:bold">Data</span> | OpenRefine</li>
      
                </ul>
                <br>
                <hr>
      
                <h4 class="card-title">Presentations</h4>
                <ul class="list-unstyled">
                  <li>
                    <span style="font-weight:bold">"Academic Freedom and the Library: Employing a Social Justice Lens for Understanding Intellectual Freedom"</span>
                    <ul class="list-unstyled">
                      <li>Wisconsin Association of Academic Libraries Annual Conference 2018 Co-presenter</li>
                    </ul>
                  </li>
                </ul>
                <br>
                <hr>
      
                <h4 class="card-title">Projects</h4>
                <ul class="list-unstyled">
                  <li>
                    <span style="font-weight:bold">Website Design</span>
                    <ul class="list">
                      <li>
                        <a href="http://scotchhillfarm.com" target="_blank">Scotch Hill Farm</a>
                      </li>
                      <li>
                        <a href="https://www.hilltopcommunityfarm.org" target="_blank">Hilltop Community Farm</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <br>
                <hr>
      
                <h4 class="card-title">Affiliations</h4>
                <ul>
                  <li>American Library Association (ALA)</li>
                  <li>Wisconsin Library Association (WLA)</li>
                  <li>WLA Student Special Interest Group</li>
                  <li>REFORMA Student Group</li>
                </ul>
                <br>
                <hr>
      
                <h4 class="card-title">Volunteer Experience</h4>
                <ul>
                  <li>University of Wisconsin
                    <a href="https://gobigread.wisc.edu/" target="_blank">Go Big Read</a> Discussion Facilitator (Fall 2016, Fall 2017)</li>
                  <li>
                    <a href="Wisconsin Association of Academic Libraries" target="_blank">Wisconsin Association of Academic Libraries</a> 2018 Conference Planning Committee- UW–Madison Liaison</li>
                  <li>Wisconsin Library Association 2017 Conference Planning Committee- UW–Madison Liaison</li>
                  <li>Wisconsin Library Association Student Special Interest Group- Chair 2017-2018</li>
                </ul>
                <hr>
      
                <h4 class="card-title">Certificates</h4>
                <ul>
                  <li>
                    <a href="https://projectenable.syr.edu/" target="_blank">Project ENABLE</a> Accessibility Training</li>
                </ul>
            </div>
          </div>
        </div>
      </div>