<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="btn-group">
      <button class="btn">
        <clr-icon shape="download"></clr-icon>Download CV (PDF)</button>
      <button class="btn">
        <clr-icon shape="download"></clr-icon>Download Résumé (PDF)</button>
    </div>
    <div class="card">
      <div class="card-block">
        <h2 class="card-title">Curriculum Vitae/Résumé </h2>

        <p class="card-text">
          <h4 class="card-title">Technology Skills</h4>

          <ul class="list">
            <li>
              <span style="font-weight:bold">Languages</span> | HTML, CSS, JavaScript, MySQL</li>
            <li>
              <span style="font-weight:bold">Course Management</span> | Blackboard, Canvas</li>
            <li>
              <span style="font-weight:bold">Content Management</span> | LibGuides, ContentDM</li>
            <li>
              <span style="font-weight:bold">Library</span> | Millennium, Alma, Koha; ILLiad and Worldshared</li>
            <li>
              <span style="font-weight:bold">Virtual Reference</span> | LibAnswers, LibChat, LibraryH3lp</li>
            <li>
              <span style="font-weight:bold">eLearning and Screen Capture</span> | Adobe Captivate, Screencast-O-Matic, Jing</li>
            <li>
              <span style="font-weight:bold">Visualization</span> | Tableau</li>
            <li>
              <span style="font-weight:bold">Data</span> | OpenRefine</li>

          </ul>
          <br><hr>

          <h4 class="card-title">Work Experience</h4>
          <ul class="list">
            <li>Oscar Rennebohm Library at Edgewood College
              <ul class="list">
                <li>Graduate Assistant - Reference and Interlibrary Loan, Evening and Weekend Supervisor </li>
              </ul>
            </li>

            <li>National Wildlife Health Center, U.S. Geological Survey
              <ul class="list">
                <li>Library Assistant </li>
              </ul>
            </li>

            <li>College Library, University of Wisconsin–Madison
              <ul class="list">
                <li>Field Placement </li>
              </ul>
            </li>

            <li>Information School, University of Wisconsin–Madison
              <ul class="list">
                <li>Reader/Grader </li>
              </ul>
            </li>
          </ul>
          <br><hr>


          <h4 class="card-title">Education</h4>
          <ul class="list">
            <li>University of Wisconsin - Madison
              <ul class="list-unstyled">
                <li>Master of Arts, Library and Information Studies (Projected May 2018)</li>
              </ul>
            </li>
            <li>University of South Florida
              <ul class="list-unstyled">
                <li>Master of Arts, English & American Literature (2010)</li>
              </ul>
            </li>
            <li>University of South Florida
              <ul class="list-unstyled">
                <li>Bachelor of Arts, English & American Literature (2007)
                </li>
              </ul>
            </li>
          </ul>
          <br><hr>

          <h4 class="card-title">Presentations</h4>
          <ul class="list">
            <li>&quot;Academic Freedom and the Library: Employing a Social Justice Lens for Understanding Intellectual Freedom&quot;
              <ul class="list-unstyled">
                <li>Wisconsin Association of Academic Libraries Annual Conference 2018 Co-presenter
                </li>
              </ul>
            </li>
          </ul>
          <br><hr>

          <h4 class="card-title">Projects</h4>
          <ul class="list-unstyled">
            <li>Website Design
              <ul class="list">
                <li>
                  <a href="http://scotchhillfarm.com" target="_blank">Scotch Hill Farm</a>
                </li>
                <li>
                  <a href="https://www.hilltopcommunityfarm.org" target="_blank">Hilltop Community Farm</a>
                </li>
              </ul>
            </li>
          </ul>
          <br><hr>

          <h4 class="card-title">Affiliations</h4>
          <ul>
            <li>American Library Association (ALA)</li>
            <li>Wisconsin Library Association (WLA)</li>
            <li>WLA Student Special Interest Group</li>
            <li>REFORMA Student Group</li>
          </ul>
          <br><hr>

          <h4 class="card-title">Volunteer Experience</h4>
          <ul>
            <li>University of Wisconsin Go Big Read Discussion Facilitator (Fall 2016, Fall 2017)</li>
            <li>Wisconsin Association of Academic Libraries 2018 Conference Planning Committee- UW–Madison Liaison</li>
            <li>Wisconsin Library Association 2017 Conference Planning Committee- UW–Madison Liaison</li>
            <li>Wisconsin Library Association Student Special Interest Group- Chair 2017-2018</li>
          </ul>


      </div>
    </div>
  </div>

</div>