<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="btn-group">
      <button class="btn">
        <clr-icon shape="download"></clr-icon>Download CV (PDF)</button>
      <button class="btn">
        <clr-icon shape="download"></clr-icon>Download Résumé (PDF)</button>
    </div>
    <div class="card">
      <div class="card-block">
        <h2 class="card-title">Curriculum Vitae/Résumé </h2>

        <p class="card-text">
          <h4 class="card-title">Skills</h4>

          <ul class="list">
            <li>Visualization | Adobe Photoshop, Tableau</li>
            <li>Academic | Canvas, Blackboard</li>
          </ul>

          <h4 class="card-title">Work Experience</h4>
          <ul class="list">
            <li>Oscar Rennebohm Library at Edgewood College
              <ul class="list">
                <li>Graduate Assistant</li>
              </ul>
            </li>
          </ul>


          <h4 class="card-title">Education</h4>

          <ul class="list">
            <li>University of Wisconsin - Madison
              <ul class="list">
                <li>Master of Arts, Library and Information Studies (Projected May 2018)</li>
              </ul>
            </li>
            <li>University of South Florida
              <ul class="list">
                <li>Master of Arts, English & American Literature (2010)</li>
              </ul>
            </li>
            <li>University of South Florida
              <ul class="list">
                <li>Bachelor of Arts, English & American Literature (2007)</li>
              </ul>
            </li>
          </ul>

      </div>
    </div>
  </div>

</div>