<div class="row">
  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

    <div class="card">
      <div class="card-block">
        <h2 class="card-title">Teaching Statement </h2>

        <p class="card-text">

          <p>As a teaching librarian, self-awareness, critical reflection, and intentionality guide my approach to each interaction
            with students, in the classroom and at the reference desk. Taking a whole-person approach to education, I value
            the unique interests, motivations, skills, and expectations each student brings to their education. Approaching
            classroom learning as a collaborative effort, I draw on my experience as a student, teacher, and information
            professional to create spaces for active learning. I seek to meet students where then are and work with them
            to meet their educational, professional, and personal needs. Beyond the classroom, I see reference and research
            help consultations as informal opportunities to teach information literacy skills specific to the student’s current
            interests, needs, and level of research experience.


            <p>Acknowledging the complex intersections of power, privilege, and representation that manifest in librarianship,
              the classroom, and the world at large, I believe that inclusive pedagogy is central to creating equitable,
              just, and collaborative learning environments. As I adopt new strategies in my teaching, I do so critically,
              reflecting on the possible exclusionary consequences of a new activity or technique. My role is not to impart
              knowledge or promote one perspective, but to create opportunities for students to pose critical questions and
              reflect on their positions as information seekers, users, and creators.


              <p>Inspired by the critical making aesthetics of digital humanities and informed by composition pedagogies that
                emphasize process over product, I aim to structure a learning environment that both challenges and supports
                students as they engage in research, knowledge production, and professional development. I value both flexibility
                and thoughtful scaffolding instructional design because, together, they allow students to enter at points
                that suit their interests, needs, and prior experience. To achieve this, I hold in balance an understanding
                of general principles of learning and the humbling recognition that learners bring unique sets of experiences,
                motivations, and tools to each interaction.


                <p>To engage students, I strive to provide authentic learning experiences that allow students to connect theory
                  and practice. Real-world, interest-driven learning activities have greater applicability and align more
                  closely with students’ intrinsic motivation. In information literacy instruction, I believe mirroring an
                  authentic research environment also contextualizes learning and improves the transferability of skills
                  from the lesson to other situations in students’ academic and personal lives.

                  <p>By embracing continual growth through self-reflection, collaboration, and further education, teachers greatly
                    improve our ability to reach students. I am eager to learn from others’ teaching experiences and to lend
                    my perspective to others as shape their teaching identities.

      </div>
    </div>
  </div>
</div>