<div class="row">
  <div class="col-lg-5 col-md-6 col-sm-12">
    <div class="card">
      <!-- <div class="card-block"> -->
        <div class="card-img">
          <img src="../assets/megan.jpg" alt="Megan Adams" />
        </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-xs-7 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">About Megan</h3>
        <p class="card-text">
          Megan is cool. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget gravida felis. Nam a nibh fringilla,
          consectetur massa quis, lacinia felis. Etiam a faucibus ligula. Aliquam nunc ipsum, commodo ac pharetra non, iaculis
          ac risus. Vestibulum orci elit, gravida ac rhoncus at, imperdiet eu velit. Ut pretium varius massa nec mattis.
          Aenean sagittis non diam at laoreet. Mauris pellentesque ligula ut erat aliquet mattis. Aenean id mauris at augue
          dignissim ornare id non arcu. Curabitur porttitor pharetra diam, venenatis suscipit nibh ullamcorper nec. Nunc
          tincidunt ipsum arcu, quis congue dui feugiat vel. Nullam mattis nisi vitae egestas ultricies. Nulla facilisi.
          Nullam quis neque vestibulum elit placerat vehicula eu feugiat elit. Donec justo tellus, porta vitae neque id,
          fringilla bibendum risus. 
        </p>
      </div>
    </div>
  </div>
</div>