<div class="row">
  <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <!-- <div class="card-block"> -->
      <div class="card-img">
        <img src="../assets/megan.jpg" alt="Megan Adams" />
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">About Megan</h3>
        <p class="card-text">
          I am a second-year student in the Masters of Library and Information Studies program at the University of Wisconsin–Madison.
          I currently work as a reference and interlibrary loan assistant at Edgewood College Library and as a library assistant
          at the U.S. Geological Survey National Wildlife Health Center. My professional interests include user-centered
          library instruction, information literacy instruction, digital humanities, and information visualization. </p>
        <p>
        Prior to library school, I worked as a freelance academic editor, assessed standardized test responses, and taught
          first-year composition. My academic background is in English literature, but my interests include the humanities
          and naturalist exploration of the world. </p>
        <p> During the summer, I can be found paddling a canoe through Northwoods lakes, traipsing through prairies, and staring
          at trees hoping for a glimpse of their tiny resident songbirds. I’m also an enthusiastic home cook inclined toward
          ambitious canning exploits.
        </p>

        <p class="update-note" align="right"><i>– January 2018</i></p>
      </div>
    </div>
  </div>
</div>