<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card row1">
      <div class="card-block">
        <h3 class="card-title">Kirtland's Warbler Data Visualization</h3>
        <a href="#" [routerLink]="['/kirtlandswarblerviz']" class="card clickable" target="_blank">
          <div class="card-img">
              <img src="../assets/kirtlandswarblerviz.PNG">
          </div>
        </a>
        <div class="card-block">
          <p class="card-text">
            A data visualization on Kirtland's Warbler conservation efforts and citizen science, created with Tableau.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card row1">
      <div class="card-block">
        <h3 class="card-title">Digital Illustration Collection (Content DM)</h3>
        <a href="http://cdm15842.contentdm.oclc.org/cdm/landingpage/collection/p15842coll11" class="card clickable" target="_blank">
          <div class="card-img">
              <img src="../assets/BirdsofWisconsin.png">
          </div>
        </a>
        <div class="card-block">
          <p class="card-text">
            A digital collection of illustrations built in ContentDM. Images in the collection were digitized from physical materials
            using a flatbed scanner and processed in PhotoShop.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card row1">
      <div class="card-block">
        <h3 class="card-title">Digital Illustration Collection (Omeka)</h3>
        <a href="http://birdsofwisconsin.omeka.net/" class="card clickable" target="_blank">
          <div class="card-img">
            <img src="../assets/OmekaBirdsofWisconsin.png">
          </div>
        </a>
        <div class="card-block">
          <p class="card-text">
            A digital collection of illustrations built in Omeka. Images in the collection were digitized from physical materials using
            a flatbed scanner and processed in PhotoShop.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card row2">
      <div class="card-block">
        <h3 class="card-title">Undergraduate Research Guide: Refugees</h3>
        <a href="https://researchguides.library.wisc.edu/c.php?g=716792&p=5648535" class="card clickable">
          <div class="card-img">
            <img src="../assets/UndergraduateResearchGuideRefugeesCollegeLibrary.png">
          </div>
        </a>
        <div class="card-block">
          <p class="card-text">
            A research guide for undergraduate researchers. This guide was built on the LibGuides platform following College Library's
            in-house style documentation.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card row2">
      <div class="card-block">
        <h3 class="card-title">Resource Guide: Masters of Educational Leadership</h3>
        <a href="https://library.edgewood.edu/med" class="card clickable" target="_blank">
          <div class="card-img">
            <img src="../assets/MastersofEducationalLeadership.png">
          </div>
        </a>
        <div class="card-block">
          <p class="card-text">
            A resource guide designed to introduce library and professional resources to distance graduate students. This guide was built
            on the LibGuides platform following Edgewood College Library's in-house style documentation.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card row2">
      <div class="card-block">
        <h3 class="card-title">Scotch Hill Farm Website</h3>
        <a href="https://scotchhillfarm.com" class="card clickable" target="_blank">
          <div class="card-img">
            <img src="../assets/ScotchHillFarm.png">
          </div>
        </a>
        <div class="card-block">
          <p class="card-text">
            A website designed and built for a local business using SquareSpace.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>